



/* Tab*/

@media screen and (min-width: 601px) and (max-width: 992px) {
    /* Nav Menue Ends here */
    .container_nav{
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
}
/* Nav Menue Ends here */
}





/* Mobile device 600 px Responsive */


/* Nav Menue starts here */
@media screen and (max-width: 600px) {


    .menu-toggle {
        display: flex;
    }

    .menue_nav, .nav {
        display: none;
        flex-direction: column;
        width: 70%;
        /* background-color: #333; */
        position: absolute;
        top: 60px;
        right: 0;
        justify-content: right;
        align-items: flex-end;
    }

    .nav  ul{
        display: flex;
        flex-direction: column;
        width: 40%;
        justify-content: center;
        align-items: center;
        /* background-color: #333; */
    }



    .nav.show {
        display: flex;
        
    }

    .nav li a {
        padding: 10px;

    }
}

/* Nav Menue Ends here */